*{
    box-sizing: border-box;
}


@media (max-width: 960px){


    body{
        margin: 0;
        padding: 0;
        width: 100%;
    }


}

/* 
@media(min-width: 768px){

    body{
        width: 962px;
        margin: auto;
        padding: auto;

    }
    main{
        display: flex;
        box-sizing: border-box;
    }
} */