@media(min-width: 960px){


    body{
        margin-left: auto;
        margin-right: auto;
        width: 960px;

    }


section{

    border: black 17px solid;
    display: grid;
    width: 960px;
    border:  0px;
    border-radius: 20px;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 200px 250px 150px;
}
.a{
    grid-column: 1/6;
    grid-row: 1/2;
    line-height: 100px;
    background-color: rgb(255, 105, 205);
}
.b{
    grid-column: 1/2;
    grid-row: 2/5;
    line-height: 600px;
    background-color: rgb(126, 104, 104);
}
.c{
    grid-column: 2/4;
    grid-row: 2/3;
    line-height: 200px;
    background-color: rgb(124, 75, 146);
}
.d{
    grid-column: 4/6;
    grid-row: 2/3;
    line-height: 200px;
    background-color: rgb(1, 119, 27);
}
.e{
    grid-column: 2/3;
    grid-row: 3/4;
    line-height: 250px;
    background-color: rgb(231, 200, 59);
}
.f{
    grid-column: 3/4;
    grid-row: 3/4;
    line-height: 250px;
    background-color: rgb(123, 221, 57);
}
.g{
    grid-column: 4/5;
    grid-row: 3/4;
    line-height: 250px;
    background-color: rgb(17, 247, 216);
}
.h{
    grid-column: 5/6;
    grid-row: 3/4;
    line-height: 250px;
    background-color: rgb(129, 37, 85);
    text-indent: 0%;
    overflow: visible;
}
.i{
    grid-column: 2/6;
    grid-row: 4/5;
    line-height: 150px;  
    background-color: rgb(224, 28, 70);
}
.b,.i{
    margin-bottom: 30px;

}
}





