@media (min-width: 480px){

     section{
        border: black double 15px;
        border-radius: 20px;
        text-align: center;
        color: white;
        font-size: 33px;
        font-weight: bold;
        margin-top:30px;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 75px 150px 125px 125px 250px 250px 80px;
    }
    

    .i{
        clear: both;
    }
    .a{
        grid-row: 1/2;
        line-height: 75px;
        background-color: rgb(61, 18, 218);
        grid-column: 1/3;
    }
    .b{
        box-sizing: border-box;
        grid-row: 2/3;
        line-height: 150px;
        background-color: rgb(224, 19, 207);
        grid-column:1/3
    
    }
    .c{
        box-sizing: border-box;
        grid-row: 3/4;
        background-color: rgb(62, 55, 80);
        grid-column: 1/3;
    
    
    }
    .d{
        box-sizing: border-box;
        grid-row: 4/5;
        background-color: rgb(62, 196, 140);
        grid-column: 1/3;
    }
    .e{
        grid-row: 5/6;
        background-color: rgb(191, 228, 25);
        grid-column: 1/2;
    }
    .f{
        grid-row: 5/6;
        background-color: rgb(102, 226, 19);
        grid-column: 2/3;
    }
    .g{
        grid-row: 6/7;
        background-color: rgb(83, 7, 54);
        grid-column: 1/2;
    
    }
    .h{
        grid-row: 6/7;
        background-color: rgb(243, 80, 74);
        grid-column: 2/3;
    
    }

    .i{
     grid-row: 7/8;
     line-height: 80px;
     background-color: rgb(252, 9, 9);
     grid-column: 1/3;
            
    }


}
